<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO_JX3F4wLcw_P0KwYmxJqcBNpWN-MZko</string>
	<key>GCM_SENDER_ID</key>
	<string>316820023865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>weather-app-d8036</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-d8036.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316820023865:ios:e5f5d3736b8e4eacee3be8</string>
</dict>
</plist>